#title{
  background-color: #5982f1;
    color:#1e2129;

}
/*span{*/
/*background: #FF9900;*/
/*    padding: 1%;*/
/*    color: #000000;*/
/*    border-radius: 1vw;*/
/*}*/
body{
  font-family: 'Arial';
  background: #1e2129;
}
.container-fluid{
  padding: 0.3% 15%;
}
#gamecarousel .container-fluid, #pricing .container-fluid{
  padding: 3% 10% ;
}
h1{
  font-family: 'Arial';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.navbar-brand{
  font-family: 'Arial';
  font-size: 2.5rem;
  font-weight: bold;
  background: #1e2129;
    padding: 10px 20px;
    border-radius: 35px;
}
.nav-link{
  color:#1e2129;
}
.navbar{
  padding:0 0 0.5625rem ;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
}

#game-carousel{
  color: #fff;
  text-align: center;
  padding: 5% 7%;

}

  .game-img{
    width: 100%
  }
  .game-buy{
    width: 100%;
  }
  #pricing{
    padding-top: 50px;
    text-align: center;
  }
  .card-body{
    background: #1db777;
  }
#footer{
  background-color: #5982f1;
  padding: 1% 15%;
  text-align:center;
  color: #fff;
}
.social{
  margin: 10px 10px;
  color: #000;
}
